.get-quality {
  display: flex;
  flex-direction: column;
  gap: 36px;
  padding:0px 64px 0px;

  .quality-title {
    color: #0D0C22;
    font-family: Onest;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .blocks {
    display: flex;
    flex-wrap: wrap;
    grid-column-gap: 20px;
    grid-row-gap: 20px;

    .block {
      display: flex;
      flex-direction: column;
      gap: 31px;
      flex: 1;
      min-width:26%;

      border-radius: 8px;
      border: 1px solid #F1F1F1;
      padding: 16px;

      .icon {
        display: flex;
        width: 48px;
        height: 48px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;

        border-radius: 30px;
        border: 1px solid rgba(0, 0, 0, 0.20);
        box-shadow: 0px 0px 17.2px 0px rgba(255, 255, 255, 0.05) inset;

        svg {
          flex-shrink: 0;
        }
      }

      .text {
        display: flex;
        flex-direction: column;
        gap: 8px;

        div:first-child {
          color: #000;
          font-family: Onest;
          font-size: 18px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }

        div:last-child {
          color: #717171;
          font-family: Onest;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
    }
  }
}