.modal {
  display: none;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 1111;

  &.active {
    display: flex;
  }

  background: #fff;

  .modal-header {
    position: relative;
    display: flex;
    padding: 0px 64px;

    border-bottom: 1px solid #E8E8E8;
    background: #FFF;
    height: 90px;
    align-items: center;

    .modal-nav {
      display: flex;
      justify-content: center;
      gap: 50px;
      height: 100%;

      div {
        color: #000;
        font-family: Onest;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;

        &.active {
          color: #F88559;

          border-bottom: 2px solid #F88559;
        }
      }
    }

    #back {
      position: absolute;
      left: 23px;
      top: 50%;
      transform: translate(0%, -50%);
    }
  }

  .photos-container {
    display: flex;
    flex-direction: column;
    gap: 21px;
    padding: 22px 64px 0px 64px;

    .photos-title {
      color: #000;
      font-family: Onest;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }

    .photos {
      height: 60vh;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 70% 1fr;
      grid-column-gap: 9px;
      grid-row-gap: 9px;

      img {
        width: 100%;
        object-fit: cover;
        height: 100%;
      }
    }

    .div1 { grid-area: 1 / 1 / 2 / 3; }
    .div2 { grid-area: 1 / 3 / 3 / 5; }
    .div3 { grid-area: 2 / 1 / 3 / 2; }
    .div4 { grid-area: 2 / 2 / 3 / 3; }
  }
}